header {
  /* background-color: #10375c; */
  background-color: #3ea1fd;
}
main {
  padding-top: 126px;
  background-color: #3ea1fd99;
}

.icon {
  background-color: #0d6efd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 999px;
  font-size: 15px;
}

.icon:hover {
  background-color: #fff;
}
